body {
    font-family: Arial, sans-serif;
    color: #2ef102;
    text-shadow: 2px 2px black;
    margin: 0;
    padding: 0;
    background-image: url('ezgif-4-cc5d4033fb.gif');
    background-repeat: repeat;
    background-color: rgb(255, 68, 68);
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; /* Add space between the image and the audio controls */
    /* max-width: 100%; Ensure images don't exceed the container width */
}

audio {
    margin-top: 40px; /* Add space between image and audio controls */
    margin-bottom: 40px;
}

/* Adjust width of images for smaller screens
#img1 img,
#img2 img,
#img3 img {
    width: 100%; /* Make images responsive */
    /* max-width: 100%; /* Ensure images don't exceed the container width */


/* Add space between each image container */
/* #img1,
#img2,
#img3 {
    margin-bottom: 20px;
} */

#lyrics {
    margin-top: 20px; /* Add space between audio controls and lyrics */
}